*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.secion-uno{
    background-image: url(../assets/images/banner-bk.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}


nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#506b7f00;
}

nav .pestañas ul{
    list-style: none;
    display: flex;
    font-size: 25px;
}
.pestañas{
    margin-right: 30px;
}

li{
    color: white;
    font-size: 15px;
    margin-right: 60px;
}

.logo {
    width: 100px;
    height: auto;
    padding: 5px 10%;
}

h1{
    color: white;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: "Nunito Sans", sans-serif;
    padding: 30px 10%;
}

.texto-encabezado p{
    padding: 5px 10%;
    font-size: 20px;
    color: white;
    max-width: 850px;
    margin-bottom: 30px; 
    font-family: "Nunito Sans", sans-serif;
}

.botoncito{
    padding: 30px 10%;}


.boton-redondo{
    background: #42f8bb;
    padding: 10px 20px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
.triangulos{
    background-color: #ffffff;
    margin-top: 10px;
}
.triangulos h2{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}




.terceraseccion {
    position: relative;
    padding: 0 0 50px 0;
     display: flex;
    flex-direction: column;
    gap: 80px; 
    position: relative;

}

.terceraseccion::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%; 
    background: #42f8bb; 
    z-index: -1; 
    clip-path: polygon(0 40%, 100% 10%, 100% 100%, 0% 100%);

}


.tercera {
    padding: 200px 0px 200px 150px;
}

.tercerotexto {
    display: flex;
    flex-direction: column;
}

.tercerotexto h2 {
    font-size: 60px;
}

.tercerotexto p {
    font-size: 15px;
}

.botonterceraseccion {

    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #182c76;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 30%;
    text-align: center;
    margin: 30px 0 0 0;
}



.terceraimagen {
    position: absolute;
    top: 150px;
    margin: 0 0 0 800px;
}

.terceracuarta {

    display: flex;
    justify-content: center;
    align-items: center;
}

.terceracuartatexto h2 {
    font-size: 60px;
    margin: 0 0 20px 0;
}

.terceracuartatexto p {
    font-size: 15px;
    margin: 0 0 50px 0;
}







.carts-precio {
    padding: 80px 0;
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.card-titulo{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 10px;

}

.signo{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.num{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
}

.peque{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.precio-azul{
    text-align: center;
    font-size: 5px;
    padding-bottom: 20px;
}

.carts-preccio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.cart1 {
    background: #ffffff;
    padding: 40px 2% 80px;
    text-align: center;
    color: #182c76;
}

.cart2 {
    background: #182c76;
    padding: 40px 2% 80px;
    text-align: center;
    color: #ffffff;
}


.cart3 {
    background: #ffffff;
    padding: 40px 2% 80px;
    text-align: center;
    color: #182c76;
}

li{
    list-style: none;
    font-size: 17px;
    padding-bottom: 20px;
    padding-left: 40px;
}




.azul{
    color: #182c76;
    text-align: center;
}


.precio-blanco{
    font-size: 50px;
    margin: 20px 0;
    color: #ffffff;
}


.precio-azul{
    font-size: 50px;
    color: #182c76;
}


.boton-redondo-precio-v{
    background: #42f8bb;
    padding: 5px 20px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
}


.boton-redondo-precio-b{
    background: #ffffff;
    padding: 5px 20px;
    border-radius: 25px;
    border: #182c76 2px solid;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
}




.barras{
    background-color: rgb(221, 225, 228);
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.contacto h2{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}

.contacto {
    display: flex;
    justify-content: space-between;
    padding: 50px 10% 100px 10%;
    background: #0f1b37; 
    color: white;
}

.contactotexto {
    width: 40%;
    padding-Right: 5%;
}

.contactotexto h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contactotexto p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.formulariocontacto {
    width: 55%;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

.fila-form {
    display: flex;
    gap: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #2ef7c4;
    border-radius: 6px;
    color: white;
    outline: none;
    font-size: 16px;
}

textarea {
    margin-top: 20px;
    height: 120px;
    resize: none;
}

.botoncontacto {
    margin-top: 25px;
    padding: 15px;
    background: #2ef7c4;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.botoncontacto:hover {
    opacity: 0.85;
}


footer {
    background: #0c162e;
    padding: 0px 10%;
    color: white;
}

.texfoter{
    padding-bottom: 50px;
}

.contacto{
    background-image: url(/assets/images/contact-bk.jpg);
}

.footercontenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footerlinks img {
    width: 180px;
}

@media (max-width: 1280px) {
    .carts-preccio {
        flex-direction: column;
        gap: 30px;
    }

    .terceraseccion {
        padding: 0 20px 50px 20px;
    }

    .cuartaimagen {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tercera {
        padding: 200px 200px 20px;
                flex-direction: column;

    }

    .terceraimagen {
        position: static;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .contacto {
        flex-direction: column;
        gap: 20px;
    }

    .contactotexto{
        width: 100%;
        padding-top: 0;
    }
    
}

    .formulariocontacto {
        width: 100%;
        padding-top: 0;
    }
    

@media (max-width: 921px) {

    nav .pestañas ul {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
        padding: 100px 0;
    }

    h1 {
        font-size: 50px;
    }
    .texto-encabezado p {
        font-size: 18px;
    }

    .tercera {
        padding: 150px 20px 20px;
    }
    .tercerotexto h2 {
        font-size: 40px;
    }

    .terceracuartatexto h2 {
        font-size: 40px;
    }

}

@media (max-width: 481px) {

    .secion-uno{
        font-size: 100%;
        height: auto;
    }
    .texto-encabezado p{
        font-size: 15px;
        max-width: 90%;
        margin-bottom: 30px;
    }
    .texto-encabezado h1{
        font-size: 40px;
    }

    nav .pestañas ul {
        font-size: 20px;
        padding: 50px 0;
    }

    .logo{
        width: 90px;
    }
    .terceraseccion{
        font-size: 100px;
        max-width: 90%;
    }
    .terceraseccion img{
        width: 100%;
        height: auto;        
    }

    .terceraseccion{
        padding: 0 10px 50px;
    }

    .terceraseccion img{
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .terceracuarta{
        font-size: 100px;
        max-width: 90%;
    }

    .botonterceraseccion {
        width: 50%;
    }

    .botonterceraseccion{
        width: 50%;
    }

    .terceracuartatexto {
        font-size: 15px;
    }

    .boton-redondo-precio-b {
        font-size: 16px;
        padding: 5px 10px;
    }

   .tercera {
        padding: 100px 10px 50px;
    }

    .terceracuarta{
        flex-direction: column;
    }

    .tercerotexto h2 {
        font-size: 30px;
    }

    .carts-precio h2{
        font-size: 30px;
        text-align: center;
    }

      .boton-redondo-precio-v {
        font-size: 16px;
        padding: 5px 10px;
    }

    .tercera img{
        width: 100%;
        padding: 100px 10px 10px;
    }

    .barras{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        padding: 50px 0;
    }

    .barras img{
        width: 180px;
        flex-direction: column;
        gap: 30px;
    }

    .contacto{
        padding: 20px 5% 100px 5%;

    }

    .formulariocontacto{
        margin-top: 5px;
        width: 80%;
    }

    .footercontenido{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

}

@media (max-width: 320px) {

    .secion-uno{
        font-size: 50%;
        height: auto;
    }
    .texto-encabezado p{
        font-size: 15px;
        max-width: 200px;
        margin-bottom: 30px;
    }
    .texto-encabezado h1{
        font-size: 40px;
    }

    nav .pestañas ul {
        font-size: 15px;
        padding: 50px 0;
    }

    .logo{
        width: 90px;
    }
    .terceraseccion{
        font-size: 100px;
        max-width: 90%;
    }
    .terceraseccion img{
        width: 100%;
        height: auto;        
    }

    .terceraseccion{
        padding: 0 10px 50px;
    }

    .terceracuarta{
        font-size: 100px;
        max-width: 90%;
    }

    .botonterceraseccion {
        width: 50%;
    }

    .botonterceraseccion{
        width: 50%;
    }

    .terceracuartatexto {
        font-size: 15px;
    }

    .boton-redondo-precio-b {
        font-size: 16px;
        padding: 5px 10px;
    }

   .tercera {
        padding: 100px 10px 50px;
    }

    .terceracuarta{
        flex-direction: column;
    }

    .tercerotexto h2 {
        font-size: 30px;
    }

    .botonterceraseccion{
        width: 50%;
        font-size: 16px;
    }
    .carts-precio h2{
        font-size: 30px;
        text-align: center;
    }

      .boton-redondo-precio-v {
        font-size: 16px;
        padding: 5px 10px;
    }

    .tercera img{
        width: 100%;
        padding: 100px 10px 10px;
    }

    .barras{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        padding: 50px 0;
    }

    .barras img{
        width: 180px;
        flex-direction: column;
        gap: 30px;
    }

    .contacto{
        padding: 20px 5% 100px 5%;

    }

    .formulariocontacto{
        margin-top: 5px;
        width: 80%;
    }

    .footercontenido{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footerlinks img{
        width: 100px;
    }

}
